@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Inter:wght@400;500;600;700&display=swap');

:root {
    --primary: #ff3b5c;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Alex Brush', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}
